#infotable tr td:nth-child(3) {
    color: red;
}
span {
    color: red;
}

billetter {
    font-weight: bolder;
}
.bolder {
    font-weight: bolder;
    font-size: 1.2rem;
}
.edit {
    background-color: #f1f1f1;
}

#adminButton {
    background-color: #ff3838 !important;
    font-size: 1rem !important;
    border: black 2px solid !important;

}